header.masthead {

  background-image: url("img/image/nantou/6.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media (min-width:992px){
	header.masthead{
		height:10vh;
		min-height:530px;
		padding-top:0;
		padding-bottom:0}



